{% extends "templates/base.twig.html" %}

{% block title %} User/Register {% endblock %}

{% block header %}

{% endblock %}


{% block container %}
<div class="row">
    <div class="col-lg-4">
        
    </div>
        
        <div class="col-lg-4">
            <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
            <form action="register" method="post" class="form" role="form">
            <input class="form-control" name="username" placeholder="Your Username" type="text" />
            <input class="form-control" name="email" placeholder="Your Email" type="email" />
            <input class="form-control" name="password" placeholder="New Password" type="password" />
            <input class="form-control" name="password_confirm" placeholder="Re-enter Password" type="password" />
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up</button>
            </form>
        </div>
    <div class="col-lg-4">
        
    </div>
    </div>
{% endblock %}